body {
	font-family: Helvetica;
}

.screen {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;

	display: none;
}

.screen.active {
	display: block;
}

#graphics_panel {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

#info_bar {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 50px;
	background-color: #005F6B;

	padding-left: 10px;
	padding-right: 10px;

	border-top: 3px solid #00DFFC;

	z-index: 5;
}

#info_bar span {
	font-size: 20px;
	line-height: 50px;
	color: white;
}

#top_bar {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 50px;

	padding-left: 10px;
	padding-right: 10px;

	z-index: 5;

	opacity: 0.5;
}

#top_bar span {
	font-size: 20px;
	line-height: 50px;
	color: white;
}

.resource-count {
	flex-grow: 1;
	text-align: center;
	height: 45px;
	line-height: 50px;
	color: white;
	font-size: 20px;
	border-bottom: 5px solid white;
	margin-left: 10px;
	margin-right: 10px;
}

#time_bar {
	position: absolute;
	bottom: 53px;
	height: 5px;
	left: 0px;
	background-color: #fff;
	z-index: 5;
	transition: width 0.2s;
}

#time_bar span {
	position: absolute;
	top: -20px;
	left: 5px;
	color: white;
	opacity: 0.5;
	white-space: nowrap;
}
